{% extends "base.html" %}


{% block page__title %}
Məqalələrimiz
{% endblock page__title %}



{% block body %}
<h2>Məqalələrimiz</h2>

<div class="search__form">
    <form>
        {% csrf_token %}
        <input name="keyword" type="text" placeholder="Axtar...">
        <button type="submit" class="btn">Axtar</button>
    </form>
</div>



{% if articles %}
<div class="articles">
    <ul>
        {% for article in articles %}
        <li>
            <h3>{{article.author}}</h3>
            <h4><a href="{% url 'article-detail' article.id %}">{{article.title}}</a></h4>
            <p>{{article.content|safe|truncatechars:70}}</p>
            <small>{{article.created_date}}</small>
        </li>
        <hr>
        {% endfor %}
    </ul>
</div>

<br><br>
{% else %}
<div class="alert__warning">Məqalə yoxdur...</div>
{% endif %}
    

<a href="{% url 'addarticle' %}"><button class="btn">Əlavə et</button></a>
<br><br>

{% endblock body %}