{% extends "base.html" %}

{% block page__title %}
    Login Page
{% endblock page__title %}

{% block body %}
    <h2>Login Page</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{form.username.id_for_label}}">İstifadəçi adı</label>
            {{form.username}}
        </div>
        <div class="form-group">
            <label for="{{form.password.id_for_label}}">Şifrə</label>
            {{form.password}}
        </div>
        <br>
        <button class="btn">Daxil ol</button>
    </form>
{% endblock body %}
    
